.red {
  color: red;
}

.grey {
  color: tan;
}

span.green {
  color: #14C38E;
}

.table {
  margin-right: auto;

  margin-left: auto;

  border-collapse: separate;
  
  border-spacing: 0 15px;

  color: #5B8A72;
  
  font-weight: 900;
}
